<% mahasiswa.forEach(mhs=> { %>
    <div class="container mt-3">
        <ul>
            <li>Nama : <%= mhs.nama %>
            </li>
            <li>Email : <%= mhs.email %>
            </li>
        </ul>
    </div>
<% }) %>